<div class="p-4 sm:ml-64">
  <div class="p-6 border border-gray-200 rounded-xl bg-white shadow-lg mt-14">
    <div class="space-y-8">
      <!-- Form Card -->
      <form [formGroup]="plantForm" (ngSubmit)="onSubmit()" class="bg-white p-6 rounded-lg shadow-lg w-full mb-6">
        <div>
          <h2 class="text-xl font-bold text-gray-900">{{ editingPlant ? 'Edit Plant' : 'Add New Plant' }}</h2>
        </div>
        <div class="grid grid-cols-3 gap-4">
          <!-- Plant Name -->
          <div>
            <label for="plantName" class="block mb-2 text-sm font-medium text-gray-900">
              Plant Name
            </label>
            <input
              type="text"
              id="plantName"
              formControlName="plantName"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              [ngClass]="{'border-red-500': isFieldInvalid('plantName')}"
              placeholder="Tomato"
              aria-describedby="plantNameError"
            />
            <div *ngIf="isFieldInvalid('plantName')" id="plantNameError" class="text-red-500 text-sm mt-1">
              <div *ngIf="f['plantName'].errors?.['required']">Plant name is required</div>
              <div *ngIf="f['plantName'].errors?.['minlength']">Plant name must be at least 2 characters</div>
            </div>
          </div>

          <!-- Cost -->
          <div>
            <label for="cost" class="block mb-2 text-sm font-medium text-gray-900">
              Cost
            </label>
            <input
              type="number"
              id="cost"
              formControlName="cost"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              [ngClass]="{'border-red-500': isFieldInvalid('cost')}"
              placeholder="100"
              min="0"
              aria-describedby="costError"
            />
            <div *ngIf="isFieldInvalid('cost')" id="costError" class="text-red-500 text-sm mt-1">
              <div *ngIf="f['cost'].errors?.['required']">Cost is required</div>
              <div *ngIf="f['cost'].errors?.['min']">Cost must be a positive number</div>
            </div>
          </div>

          <!-- Harvest Time -->
          <div>
            <label for="harvestTime" class="block mb-2 text-sm font-medium text-gray-900">
              Harvest Time (days)
            </label>
            <input
              type="number"
              id="harvestTime"
              formControlName="harvestTime"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              [ngClass]="{'border-red-500': isFieldInvalid('harvestTime')}"
              placeholder="50"
              min="0"
              aria-describedby="harvestTimeError"
            />
            <div *ngIf="isFieldInvalid('harvestTime')" id="harvestTimeError" class="text-red-500 text-sm mt-1">
              <div *ngIf="f['harvestTime'].errors?.['required']">Harvest time is required</div>
              <div *ngIf="f['harvestTime'].errors?.['min']">Harvest time must be a positive number</div>
            </div>
          </div>

          <!-- Start Date -->
          <div>
            <label for="startDate" class="block mb-2 text-sm font-medium text-gray-900">
              Start Date
            </label>
            <input
              type="date"
              id="startDate"
              formControlName="startDate"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              [ngClass]="{'border-red-500': isFieldInvalid('startDate')}"
              aria-describedby="startDateError"
            />
            <div *ngIf="isFieldInvalid('startDate')" id="startDateError" class="text-red-500 text-sm mt-1">
              Start date is required
            </div>
          </div>

          <!-- End Date -->
          <div>
            <label for="endDate" class="block mb-2 text-sm font-medium text-gray-900">
              End Date
            </label>
            <input
              type="date"
              id="endTime"
              formControlName="endTime"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              [ngClass]="{'border-red-500': isFieldInvalid('endTime')}"
              aria-describedby="endDateError"
            />
            <div *ngIf="isFieldInvalid('endTime')" id="endDateError" class="text-red-500 text-sm mt-1">
              End date is required
            </div>
          </div>

          <!-- Polytunnel ID -->
          <div>
            <label for="polytunnelId" class="block mb-2 text-sm font-medium text-gray-900">
              Polytunnel
            </label>
            <select
              id="polytunnelId"
              formControlName="polytunnelId"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              [ngClass]="{'border-red-500': isFieldInvalid('polytunnelId')}"
              aria-describedby="polytunnelIdError"
            >
              <option value="" disabled>Select a polytunnel</option>
              <option *ngFor="let polytunnel of polytunnels" [value]="polytunnel.id">{{ polytunnel.code }} - {{ polytunnel.location }}</option>
            </select>
            <div *ngIf="isFieldInvalid('polytunnelId')" id="polytunnelIdError" class="text-red-500 text-sm mt-1">
              Please select a polytunnel
            </div>
          </div>

          <!-- Clear Button -->
          <div class="mt-5">
            <label class="block mb-2 text-sm font-medium text-gray-900"></label>
            <button
              type="reset"
              (click)="onReset()"
              class="w-full p-2.5 border rounded-lg text-sm bg-red-700 text-white hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium"
              aria-label="Clear form"
            >
              Clear
            </button>
          </div>

          <!-- Submit Button -->
          <div class="mt-7">
            <button
              type="submit"
              [disabled]="isSubmitting"
              class="w-full p-2.5 border rounded-lg text-sm bg-blue-700 text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium disabled:bg-gray-400"
              [attr.aria-label]="editingPlant ? 'Update plant' : 'Add plant'"
            >
              {{ isSubmitting ? 'Submitting...' : (editingPlant ? 'Update' : 'Submit') }}
            </button>
          </div>
        </div>

        <!-- Error Message -->
        <div *ngIf="errorMessage" class="text-red-500 text-sm text-center mt-4">
          {{ errorMessage }}
        </div>
      </form>

      <!-- Table Card -->
      <div class="bg-white p-6 rounded-lg shadow-lg w-full">
        <h2 class="text-lg font-medium text-gray-900 mb-4">Plant Information</h2>
        <div class="overflow-x-auto">
          <table class="min-w-full border border-gray-300">
            <thead>
            <tr class="bg-gray-50">
              <th class="border border-gray-300 px-4 py-2 text-sm font-medium text-gray-900">Plant Name</th>
              <th class="border border-gray-300 px-4 py-2 text-sm font-medium text-gray-900">Planted Date</th>
              <th class="border border-gray-300 px-4 py-2 text-sm font-medium text-gray-900">Status</th>
              <th class="border border-gray-300 px-4 py-2 text-sm font-medium text-gray-900">Cost</th>
              <th class="border border-gray-300 px-4 py-2 text-sm font-medium text-gray-900">Harvest Time</th>
              <th class="border border-gray-300 px-4 py-2 text-sm font-medium text-gray-900">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of plantDtos" class="even:bg-gray-50">
              <td class="border border-gray-300 px-4 py-2 text-sm text-gray-600">{{ row.plantName }}</td>
              <td class="border border-gray-300 px-4 py-2 text-sm text-gray-600">{{ row.startDate | date: 'mediumDate' }}</td>
              <td class="border border-gray-300 px-4 py-2 text-sm text-gray-600"><app-status-badges [statusValue]="row.status"></app-status-badges></td>
              <td class="border border-gray-300 px-4 py-2 text-sm text-gray-600">Rs: {{ row.cost }}</td>
              <td class="border border-gray-300 px-4 py-2 text-sm text-gray-600">{{ row.harvestTime }} Days</td>
              <td class="border border-gray-300 px-4 py-2 text-sm text-gray-600">
                <button
                  (click)="editPlant(row)"
                  class="text-blue-600 hover:text-blue-800 mr-4"
                  aria-label="Edit plant"
                >
                  Edit
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
