<div class="p-4 sm:ml-64 " >
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14 ">

    <div class="grid grid-cols-3 gap-4 mb-4 ">
      <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          Humidity %
        </p>

      </div>

      <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          Soil Moisture %
        </p>
      </div>

      <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          Temperature +.c
        </p>
      </div>
    </div>


    <div class="flex flex-row ">


    </div>

    <div *ngIf="sensorData; else noData" class=" grid grid-cols-3 gap-4">
      <div  class="flex items-center justify-center rounded bg-gray-50 h-40 dark:bg-gray-800">
        {{ sensorData.data.humidity }}

      </div>

      <div class="flex items-center justify-center rounded bg-gray-50 h-40 dark:bg-gray-800">
        {{ sensorData.data.moisture }}
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-40 dark:bg-gray-800">
        {{ sensorData.data.temperature }}
      </div>

    </div>
    <ng-template #noData>
      <p>No sensor data available.</p>
    </ng-template>

    <div class="grid grid-cols-3 gap-8 mb-4 mt-10 pl-28">
      <label class="inline-flex items-center me-5 cursor-pointer">
        <input type="checkbox" value="off" class="sr-only peer" checked>
        <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-purple-300 dark:peer-focus:ring-purple-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-purple-600 dark:peer-checked:bg-purple-600"></div>
      </label>

      <label class="inline-flex items-center me-5 cursor-pointer">
        <input type="checkbox" value="" class="sr-only peer" checked>
        <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-yellow-300 dark:peer-focus:ring-yellow-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-yellow-400 dark:peer-checked:bg-yellow-400"></div>
      </label>

      <label class="inline-flex items-center me-5 cursor-pointer">
        <input type="checkbox" value="" class="sr-only peer" checked>
        <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-green-600"></div>
      </label>
    </div>


  </div>

</div>
